<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-qiancengta-piaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,120},{32,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,102}}</string>
                <key>sourceSize</key>
                <string>{32,102}</string>
            </dict>
            <key>bg-qiancengta-talouzhuti.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{566,370}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{566,370}}</string>
                <key>sourceSize</key>
                <string>{576,370}</string>
            </dict>
            <key>bg_qiancengta_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,0},{156,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,234}}</string>
                <key>sourceSize</key>
                <string>{156,234}</string>
            </dict>
            <key>icon-guanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,444},{72,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,59}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>icon-jijun.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,454},{56,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{56,51}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>icon-paiming-ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,444},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>icon-qiancengta-denglongguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,222},{32,70}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{32,70}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>icon-qiancengta-denglongkai.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,370},{68,86}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>icon-qiancengta-jinbian.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,441},{198,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,60}}</string>
                <key>sourceSize</key>
                <string>{200,62}</string>
            </dict>
            <key>icon-qiancengta-yinbian.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,234},{148,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,58}}</string>
                <key>sourceSize</key>
                <string>{148,58}</string>
            </dict>
            <key>icon-xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,292},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon-yajun.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,454},{66,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{66,51}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>qiancengta_laohudeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,370},{84,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wenzi-baoxiang-ceng、.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,362},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>wenzi-baoxiang-di.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,396},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>wenzi-gonglv.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,292},{152,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,84}}</string>
                <key>sourceSize</key>
                <string>{152,84}</string>
            </dict>
            <key>wenzi-haoyoupaiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,370},{178,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,71}}</string>
                <key>sourceSize</key>
                <string>{178,71}</string>
            </dict>
            <key>wenzi-jijiangchaoyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,0},{120,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,38}}</string>
                <key>sourceSize</key>
                <string>{120,38}</string>
            </dict>
            <key>wenzi-qiancengta-ceng.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,328},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>wenzi-qiancengta.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,441},{171,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,70}}</string>
                <key>sourceSize</key>
                <string>{171,70}</string>
            </dict>
            <key>wenzi-qiancengtabaoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,292},{214,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,72}}</string>
                <key>sourceSize</key>
                <string>{214,72}</string>
            </dict>
            <key>wenzi-saodanghuode.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,370},{154,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,48}}</string>
                <key>sourceSize</key>
                <string>{156,48}</string>
            </dict>
            <key>wenzi-wodepaiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,370},{66,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,52}}</string>
                <key>sourceSize</key>
                <string>{66,52}</string>
            </dict>
            <key>wenzi-zuigaocengshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,438},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiancengta.png</string>
            <key>size</key>
            <string>{760,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a7124639993068f25bcdbbeda23c21f:1/1$</string>
            <key>textureFileName</key>
            <string>qiancengta.png</string>
        </dict>
    </dict>
</plist>
