<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_duihuakuang_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{320,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{320,172}}</string>
                <key>sourceSize</key>
                <string>{320,174}</string>
            </dict>
            <key>dialogue_right_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,226}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{260,226}}</string>
                <key>sourceSize</key>
                <string>{262,236}</string>
            </dict>
            <key>duihuakuang_xiafang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{374,206}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{374,206}}</string>
                <key>sourceSize</key>
                <string>{378,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialogueRight.png</string>
            <key>size</key>
            <string>{230,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e72c8e131ebf2170d6033e6f8ded9933:1/1$</string>
            <key>textureFileName</key>
            <string>dialogueRight.png</string>
        </dict>
    </dict>
</plist>
