<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box_guangxiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,175},{68,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>box_guangxiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,403},{76,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{76,88}}</string>
                <key>sourceSize</key>
                <string>{86,92}</string>
            </dict>
            <key>icon_battle_jiasu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,88},{86,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,78}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>icon_battle_jiasu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1},{86,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{86,78}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>icon_battle_jiasu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,403},{86,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>icon_frame_container.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,258},{144,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,193}}</string>
                <key>sourceSize</key>
                <string>{144,193}</string>
            </dict>
            <key>icon_jinbaoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,440},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{54,46}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>icon_jinbaoxiang_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,258},{90,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,76}}</string>
                <key>sourceSize</key>
                <string>{90,76}</string>
            </dict>
            <key>icon_paiditouying.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{202,256}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{202,256}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>icon_yinbaoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,440},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{54,46}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>icon_yinbaoxiang_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,349},{90,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,72}}</string>
                <key>sourceSize</key>
                <string>{90,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newBattle.png</string>
            <key>size</key>
            <string>{286,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38f2a46015afd742a03a67ec00a58ece:1/1$</string>
            <key>textureFileName</key>
            <string>newBattle.png</string>
        </dict>
    </dict>
</plist>
