<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_commonTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,66}}</string>
                <key>sourceSize</key>
                <string>{640,66}</string>
            </dict>
            <key>bg_jianbian_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,268},{100,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,34}</string>
            </dict>
            <key>bg_shuimo_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{232,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,40}}</string>
                <key>sourceSize</key>
                <string>{232,40}</string>
            </dict>
            <key>bg_shuoming_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,283},{160,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,42}}</string>
                <key>sourceSize</key>
                <string>{160,42}</string>
            </dict>
            <key>bg_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,327},{98,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,108}}</string>
                <key>sourceSize</key>
                <string>{98,108}</string>
            </dict>
            <key>bg_wujiangjutixinxineirong.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,190},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>bg_xuanzeduiwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,286},{27,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,98}}</string>
                <key>sourceSize</key>
                <string>{27,98}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,189},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>btn_common_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,351},{48,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,34}}</string>
                <key>sourceSize</key>
                <string>{48,34}</string>
            </dict>
            <key>btn_zengjiajuese_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,188},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>btn_zengjiajuese_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,189},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fengexian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,148},{212,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,2}}</string>
                <key>sourceSize</key>
                <string>{212,2}</string>
            </dict>
            <key>icon-jiantouyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,261},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>icon-jiantouzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,268},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>icon-pvp-shuzhiditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,44},{206,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,46}}</string>
                <key>sourceSize</key>
                <string>{206,46}</string>
            </dict>
            <key>icon-tongbijindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,357},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>icon-tongkuangjindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,154},{48,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,30}</string>
            </dict>
            <key>icon-tongyong-guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,304},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>icon-tongyong-hengbanmotiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{495,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,42}}</string>
                <key>sourceSize</key>
                <string>{495,42}</string>
            </dict>
            <key>icon-tongyong-jiahao.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,391},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>icon-tongyong-yinpiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,295},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_baoshikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,337},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>icon_baoshikuang_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>icon_chiyoushuhepaixubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,387},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>icon_circle_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,295},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>icon_dengjibeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,261},{84,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,32}}</string>
                <key>sourceSize</key>
                <string>{84,32}</string>
            </dict>
            <key>icon_dengjipaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{124,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,66}}</string>
                <key>sourceSize</key>
                <string>{124,66}</string>
            </dict>
            <key>icon_dengjitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{392,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,14}}</string>
                <key>sourceSize</key>
                <string>{392,14}</string>
            </dict>
            <key>icon_dengjitiaobeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{422,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,44}}</string>
                <key>sourceSize</key>
                <string>{422,44}</string>
            </dict>
            <key>icon_dianjiguanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{478,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,33}}</string>
                <key>sourceSize</key>
                <string>{478,33}</string>
            </dict>
            <key>icon_dianjijixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{478,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,33}}</string>
                <key>sourceSize</key>
                <string>{478,33}</string>
            </dict>
            <key>icon_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,403},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_exp_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,353},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>icon_gongnengdiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{206,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,52}}</string>
                <key>sourceSize</key>
                <string>{206,52}</string>
            </dict>
            <key>icon_gongnengdiban2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,154},{158,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,32}}</string>
                <key>sourceSize</key>
                <string>{158,32}</string>
            </dict>
            <key>icon_gongxun.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,350},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>icon_gongxun54.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,295},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>icon_gongxun_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,240},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>icon_gouxuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,304},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>icon_huabian.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,154},{99,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,33}}</string>
                <key>sourceSize</key>
                <string>{99,33}</string>
            </dict>
            <key>icon_icontongyongmodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,386},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>icon_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,405},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>icon_jiesuanjingyanjindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{395,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,13}}</string>
                <key>sourceSize</key>
                <string>{395,13}</string>
            </dict>
            <key>icon_jiesuanjingyanjindutiaobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{402,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,20}}</string>
                <key>sourceSize</key>
                <string>{402,20}</string>
            </dict>
            <key>icon_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,299},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>icon_player_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,327},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>icon_saodangwupingkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,190},{102,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,107}}</string>
                <key>sourceSize</key>
                <string>{102,107}</string>
            </dict>
            <key>icon_shui.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,403},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,190},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>icon_star_can.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,299},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>icon_star_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,395},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>icon_star_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,152},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>icon_taskFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,405},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>icon_tilijiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,353},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>icon_tongbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,92},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>icon_tongbi60.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,343},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,350},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_xingxing_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,365},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>icon_xingxing_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,353},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_xinxishuxingxiaobeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,152},{156,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,36}}</string>
                <key>sourceSize</key>
                <string>{156,36}</string>
            </dict>
            <key>icon_yinpiao54.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,184},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>icon_yinzhang_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,70},{132,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,82}}</string>
                <key>sourceSize</key>
                <string>{132,82}</string>
            </dict>
            <key>icon_yinzhang_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,70},{132,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,82}}</string>
                <key>sourceSize</key>
                <string>{132,82}</string>
            </dict>
            <key>icon_yiqizhi_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,388},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>icon_yiqizhi_huang_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,388},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>icon_yiqizhi_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,283},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,399},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_yuanbao_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,353},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon_zhuanshengcailiao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,92},{178,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,54}}</string>
                <key>sourceSize</key>
                <string>{178,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newCommon.png</string>
            <key>size</key>
            <string>{1005,445}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3f3916c2df1aa69fa1150e6f2437bdf:1/1$</string>
            <key>textureFileName</key>
            <string>newCommon.png</string>
        </dict>
    </dict>
</plist>
