<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoshi0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,296},{122,126}}</string>
                <key>offset</key>
                <string>{5,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,129},{122,126}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>baoshi0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{188,192}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,95},{188,192}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>baoshi0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{206,210}}</string>
                <key>offset</key>
                <string>{5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,86},{206,210}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>baoshi0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,242}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,69},{238,242}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>baoshi0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,214},{202,212}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,83},{202,212}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>baoshi0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{152,144}}</string>
                <key>offset</key>
                <string>{8,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,116},{152,144}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>baoshi0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,162},{158,148}}</string>
                <key>offset</key>
                <string>{9,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,113},{158,148}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>baoshi0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,246},{174,144}}</string>
                <key>offset</key>
                <string>{1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,115},{174,144}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>baoshi0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,156},{150,138}}</string>
                <key>offset</key>
                <string>{2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,123},{150,138}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>baoshi0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{158,154}}</string>
                <key>offset</key>
                <string>{7,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,115},{158,154}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>baoshi0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{174,170}}</string>
                <key>offset</key>
                <string>{7,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,107},{174,170}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>baoshi0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,196},{186,186}}</string>
                <key>offset</key>
                <string>{8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,99},{186,186}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baoshi.png</string>
            <key>size</key>
            <string>{1024,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61751c1e874ed261422d80a98b5e0822:1/1$</string>
            <key>textureFileName</key>
            <string>baoshi.png</string>
        </dict>
    </dict>
</plist>
