<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emotion001.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,180},{9,11}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,43},{9,11}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>emotion002.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,180},{11,7}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,45},{11,7}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>emotion003.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,180},{9,7}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{9,7}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>emotion004.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,182},{37,9}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,56},{37,9}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>emotion005.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,189},{7,7}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,45},{7,7}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>emotion006.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,125},{31,11}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,54},{31,11}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>emotion007.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,147},{15,11}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,34},{15,11}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>emotion008.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,134},{17,11}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,41},{17,11}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>emotion009.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,112},{13,11}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{13,11}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>emotion010.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,81},{29,13}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,53},{29,13}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>emotion011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{59,51}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{59,51}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>emotion012.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,160},{18,34}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{18,34}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>emotion013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{22,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{22,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>emotion014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{22,38}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{22,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>emotion015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{20,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>face.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,75}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,75}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>biaoqing.png</string>
            <key>size</key>
            <string>{79,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e42727b4ad50791c549a574774661caf:1/1$</string>
            <key>textureFileName</key>
            <string>biaoqing.png</string>
        </dict>
    </dict>
</plist>
