<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_effect_Appeared_Boss_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{266,326}}</string>
                <key>offset</key>
                <string>{1,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,439},{266,326}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>fx_effect_Appeared_Boss_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,346},{312,310}}</string>
                <key>offset</key>
                <string>{-1,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,437},{312,310}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>fx_effect_Appeared_Boss_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{342,320}}</string>
                <key>offset</key>
                <string>{2,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,426},{342,320}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>fx_effect_Appeared_Boss_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,324}}</string>
                <key>offset</key>
                <string>{1,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,425},{352,324}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossAppeare.png</string>
            <key>size</key>
            <string>{678,658}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:725b3120dbe19a22214f5a6809449129$</string>
            <key>textureFileName</key>
            <string>bossAppeare.png</string>
        </dict>
    </dict>
</plist>
