<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button_Effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,163},{77,139}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{77,139}}</string>
                <key>sourceSize</key>
                <string>{83,153}</string>
            </dict>
            <key>Button_Effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,304},{73,139}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{73,139}}</string>
                <key>sourceSize</key>
                <string>{83,153}</string>
            </dict>
            <key>Button_Effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,316},{73,143}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{73,143}}</string>
                <key>sourceSize</key>
                <string>{83,153}</string>
            </dict>
            <key>Button_Effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{71,147}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{71,147}}</string>
                <key>sourceSize</key>
                <string>{83,153}</string>
            </dict>
            <key>Button_Effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,167},{69,147}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{69,147}}</string>
                <key>sourceSize</key>
                <string>{83,153}</string>
            </dict>
            <key>Button_Effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,461},{71,143}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{71,143}}</string>
                <key>sourceSize</key>
                <string>{83,153}</string>
            </dict>
            <key>Button_Effect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{73,125}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{73,125}}</string>
                <key>sourceSize</key>
                <string>{83,153}</string>
            </dict>
            <key>Button_Effect_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,303},{79,135}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{79,135}}</string>
                <key>sourceSize</key>
                <string>{83,153}</string>
            </dict>
            <key>Button_Effect_New_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,723},{41,41}}</string>
                <key>offset</key>
                <string>{22,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,98},{41,41}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,723},{41,41}}</string>
                <key>offset</key>
                <string>{22,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,96},{41,41}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,717},{41,41}}</string>
                <key>offset</key>
                <string>{22,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,95},{41,41}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,713},{41,41}}</string>
                <key>offset</key>
                <string>{22,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,94},{41,41}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,650},{77,65}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,72},{77,65}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,583},{77,65}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,71},{77,65}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,615},{77,65}}</string>
                <key>offset</key>
                <string>{4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,69},{77,65}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,656},{75,65}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,67},{75,65}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,606},{75,67}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,64},{75,67}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,577},{75,77}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,63},{75,77}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,538},{75,77}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,61},{75,77}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,496},{75,79}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,58},{75,79}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,502},{75,79}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,56},{75,79}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,533},{85,85}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,54},{85,85}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,251},{85,83}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,53},{85,83}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,75},{87,85}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,51},{87,85}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,164},{85,87}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,48},{85,87}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,75},{85,87}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,46},{85,87}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,162},{85,87}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,44},{85,87}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,683},{85,87}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,43},{85,87}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,682},{77,89}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,40},{77,89}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,620},{77,91}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,38},{77,91}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,440},{77,91}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,37},{77,91}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,445},{77,91}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,35},{77,91}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,415},{77,79}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,46},{77,79}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,419},{77,81}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,43},{77,81}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,336},{79,81}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,42},{79,81}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,336},{77,83}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,39},{77,83}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,251},{77,83}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,37},{77,83}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,713},{31,33}}</string>
                <key>offset</key>
                <string>{-28,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,86},{31,33}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,717},{31,31}}</string>
                <key>offset</key>
                <string>{-28,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,86},{31,31}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,415},{29,31}}</string>
                <key>offset</key>
                <string>{-27,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,85},{29,31}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,448},{29,29}}</string>
                <key>offset</key>
                <string>{-27,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,84},{29,29}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>Button_Effect_New_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,78},{82,155}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{82,155}}</string>
                <key>sourceSize</key>
                <string>{88,171}</string>
            </dict>
            <key>Button_Effect_New_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{80,159}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{80,159}}</string>
                <key>sourceSize</key>
                <string>{88,171}</string>
            </dict>
            <key>Button_Effect_New_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{76,159}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{76,159}}</string>
                <key>sourceSize</key>
                <string>{88,171}</string>
            </dict>
            <key>Button_Effect_New_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,163}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{78,163}}</string>
                <key>sourceSize</key>
                <string>{88,171}</string>
            </dict>
            <key>Button_Effect_New_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{74,165}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{74,165}}</string>
                <key>sourceSize</key>
                <string>{88,171}</string>
            </dict>
            <key>Button_Effect_New_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{74,165}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{74,165}}</string>
                <key>sourceSize</key>
                <string>{88,171}</string>
            </dict>
            <key>Button_Effect_New_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,162},{76,139}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{76,139}}</string>
                <key>sourceSize</key>
                <string>{88,171}</string>
            </dict>
            <key>Button_Effect_New_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{82,149}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{82,149}}</string>
                <key>sourceSize</key>
                <string>{88,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Button_Effect.png</string>
            <key>size</key>
            <string>{507,773}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3335315efe1a125b3d02220cac8cdcb:1/1$</string>
            <key>textureFileName</key>
            <string>Button_Effect.png</string>
        </dict>
    </dict>
</plist>
