<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,366},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>C3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{362,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,96}}</string>
                <key>sourceSize</key>
                <string>{362,96}</string>
            </dict>
            <key>C3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,319},{320,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,363}}</string>
                <key>sourceSize</key>
                <string>{320,363}</string>
            </dict>
            <key>C3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,608},{142,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,215}}</string>
                <key>sourceSize</key>
                <string>{142,215}</string>
            </dict>
            <key>C3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{422,533}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,100},{422,533}}</string>
                <key>sourceSize</key>
                <string>{422,633}</string>
            </dict>
            <key>C3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,2},{41,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,143}}</string>
                <key>sourceSize</key>
                <string>{41,143}</string>
            </dict>
            <key>C3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,697},{110,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,123}}</string>
                <key>sourceSize</key>
                <string>{110,123}</string>
            </dict>
            <key>C3_08_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,287},{40,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,51}}</string>
                <key>sourceSize</key>
                <string>{40,51}</string>
            </dict>
            <key>C3_08_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,319},{41,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,51}}</string>
                <key>sourceSize</key>
                <string>{41,51}</string>
            </dict>
            <key>C3_08_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,391},{32,49}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,49}}</string>
                <key>sourceSize</key>
                <string>{34,51}</string>
            </dict>
            <key>C3_08_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,340},{35,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,49}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>C3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,641},{224,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,168}}</string>
                <key>sourceSize</key>
                <string>{224,168}</string>
            </dict>
            <key>C3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,537},{158,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,122}}</string>
                <key>sourceSize</key>
                <string>{158,122}</string>
            </dict>
            <key>C3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,641},{221,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,159}}</string>
                <key>sourceSize</key>
                <string>{221,159}</string>
            </dict>
            <key>C3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{422,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,315}}</string>
                <key>sourceSize</key>
                <string>{422,315}</string>
            </dict>
            <key>C3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{284,280}}</string>
                <key>offset</key>
                <string>{-1,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{284,280}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>C3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,147},{48,47}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>C3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,216},{69,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{69,68}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>C3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{212,21}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{212,21}}</string>
                <key>sourceSize</key>
                <string>{220,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Camera_3.png</string>
            <key>size</key>
            <string>{1021,826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62f14550392586472b1d2f3e94064649:1/1$</string>
            <key>textureFileName</key>
            <string>Camera_3.png</string>
        </dict>
    </dict>
</plist>
