<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,334},{259,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,280}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>C1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,454},{467,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,134}}</string>
                <key>sourceSize</key>
                <string>{467,134}</string>
            </dict>
            <key>C1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{563,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,151}}</string>
                <key>sourceSize</key>
                <string>{563,151}</string>
            </dict>
            <key>C1_06_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{330,204}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{330,204}}</string>
                <key>sourceSize</key>
                <string>{332,230}</string>
            </dict>
            <key>C1_06_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,2},{330,198}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{330,198}}</string>
                <key>sourceSize</key>
                <string>{332,230}</string>
            </dict>
            <key>C1_06_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,232},{330,218}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{330,218}}</string>
                <key>sourceSize</key>
                <string>{332,230}</string>
            </dict>
            <key>C1_06_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,2},{330,228}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,228}}</string>
                <key>sourceSize</key>
                <string>{332,230}</string>
            </dict>
            <key>C1_06_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,2},{330,228}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,228}}</string>
                <key>sourceSize</key>
                <string>{332,230}</string>
            </dict>
            <key>C1_06_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,334},{330,198}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{330,198}}</string>
                <key>sourceSize</key>
                <string>{332,230}</string>
            </dict>
            <key>C1_06_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,2},{330,196}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{330,196}}</string>
                <key>sourceSize</key>
                <string>{332,230}</string>
            </dict>
            <key>C1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,334},{214,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,213}}</string>
                <key>sourceSize</key>
                <string>{214,213}</string>
            </dict>
            <key>C1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,675}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,675}}</string>
                <key>sourceSize</key>
                <string>{450,675}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Camera_1.png</string>
            <key>size</key>
            <string>{1870,607}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a341d6040900550b9ac6c46debfe738:1/1$</string>
            <key>textureFileName</key>
            <string>Camera_1.png</string>
        </dict>
    </dict>
</plist>
