<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{169,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,370}}</string>
                <key>sourceSize</key>
                <string>{169,370}</string>
            </dict>
            <key>C2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,360},{231,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,329}}</string>
                <key>sourceSize</key>
                <string>{231,329}</string>
            </dict>
            <key>C2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,780}}</string>
                <key>sourceSize</key>
                <string>{294,780}</string>
            </dict>
            <key>C2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,609},{267,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,344}}</string>
                <key>sourceSize</key>
                <string>{267,344}</string>
            </dict>
            <key>C2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,759},{72,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,52}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>C2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{237,543}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,543}}</string>
                <key>sourceSize</key>
                <string>{237,543}</string>
            </dict>
            <key>C2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,771},{109,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,160}}</string>
                <key>sourceSize</key>
                <string>{109,160}</string>
            </dict>
            <key>C2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,183},{114,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,175}}</string>
                <key>sourceSize</key>
                <string>{114,175}</string>
            </dict>
            <key>C2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,593},{183,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,164}}</string>
                <key>sourceSize</key>
                <string>{183,164}</string>
            </dict>
            <key>C2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,146},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>C2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,241},{320,366}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,114},{320,366}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>C2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,241},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>C2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,882},{161,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,66}}</string>
                <key>sourceSize</key>
                <string>{161,66}</string>
            </dict>
            <key>C2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,304},{99,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,54}}</string>
                <key>sourceSize</key>
                <string>{99,54}</string>
            </dict>
            <key>C2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,2},{179,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,115}}</string>
                <key>sourceSize</key>
                <string>{179,115}</string>
            </dict>
            <key>C2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,241},{105,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,65}}</string>
                <key>sourceSize</key>
                <string>{105,65}</string>
            </dict>
            <key>C2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{142,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,23}}</string>
                <key>sourceSize</key>
                <string>{142,23}</string>
            </dict>
            <key>C2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,759},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>C2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,609},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Camera_2.png</string>
            <key>size</key>
            <string>{996,955}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3630ec64b40c9cfe2a47c474877608b:1/1$</string>
            <key>textureFileName</key>
            <string>Camera_2.png</string>
        </dict>
    </dict>
</plist>
