<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>celueji001.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{94,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{94,40}}</string>
                <key>sourceSize</key>
                <string>{100,44}</string>
            </dict>
            <key>celueji002.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{96,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{96,37}}</string>
                <key>sourceSize</key>
                <string>{100,41}</string>
            </dict>
            <key>celueji003.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{94,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,14}}</string>
                <key>sourceSize</key>
                <string>{100,14}</string>
            </dict>
            <key>celueji004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,12}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,12}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>celueji005.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{132,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,48}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>icon-touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>celueji-gai.png</string>
            <key>size</key>
            <string>{512,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a940f51d073731fc4e6506e432929347:1/1$</string>
            <key>textureFileName</key>
            <string>celueji-gai.png</string>
        </dict>
    </dict>
</plist>
