<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniuguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,86}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>celueji_bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{98,104}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{98,104}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>celueji_gong.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,210},{102,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{102,96}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>celueji_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{89,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,106}}</string>
                <key>sourceSize</key>
                <string>{93,110}</string>
            </dict>
            <key>celueji_ming.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,314},{104,106}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{104,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>celueji_nu.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,102},{94,102}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{94,102}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>celueji_shan.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{90,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{90,98}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>celueji_su.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{96,102}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{96,102}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>celujixiaoguo.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e84302077ec11380956096ad8ac600d6:1/1$</string>
            <key>textureFileName</key>
            <string>celujixiaoguo.png</string>
        </dict>
    </dict>
</plist>
