<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CeLueJiSea_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{256,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,126}}</string>
                <key>sourceSize</key>
                <string>{256,126}</string>
            </dict>
            <key>CeLueJiSea_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,388},{316,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,318}}</string>
                <key>sourceSize</key>
                <string>{316,318}</string>
            </dict>
            <key>CeLueJiSea_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,400}}</string>
                <key>sourceSize</key>
                <string>{278,400}</string>
            </dict>
            <key>CeLueJiSea_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,404},{164,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,400}}</string>
                <key>sourceSize</key>
                <string>{164,400}</string>
            </dict>
            <key>CeLueJiSea_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,130},{247,254}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{247,254}}</string>
                <key>sourceSize</key>
                <string>{415,388}</string>
            </dict>
            <key>CeLueJiSea_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{213,426}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,5},{213,426}}</string>
                <key>sourceSize</key>
                <string>{415,450}</string>
            </dict>
            <key>CeLueJiSea_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{189,420}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,14},{189,420}}</string>
                <key>sourceSize</key>
                <string>{415,450}</string>
            </dict>
            <key>CeLueJiSea_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,217},{169,436}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,4},{169,436}}</string>
                <key>sourceSize</key>
                <string>{415,450}</string>
            </dict>
            <key>CeLueJiSea_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,388},{37,428}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,7},{37,428}}</string>
                <key>sourceSize</key>
                <string>{415,450}</string>
            </dict>
            <key>CeLueJiSea_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,388},{29,400}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,20},{29,400}}</string>
                <key>sourceSize</key>
                <string>{415,450}</string>
            </dict>
            <key>CeLueJi_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,708},{206,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{206,118}}</string>
                <key>sourceSize</key>
                <string>{220,140}</string>
            </dict>
            <key>CeLueJi_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,518},{196,132}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{196,132}}</string>
                <key>sourceSize</key>
                <string>{220,140}</string>
            </dict>
            <key>CeLueJi_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,652},{188,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{188,126}}</string>
                <key>sourceSize</key>
                <string>{220,140}</string>
            </dict>
            <key>CeLueJi_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,386},{208,130}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{208,130}}</string>
                <key>sourceSize</key>
                <string>{220,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CeLueJiSea.png</string>
            <key>size</key>
            <string>{970,828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1a0b3944b48bbab229140499f8c5135:1/1$</string>
            <key>textureFileName</key>
            <string>CeLueJiSea.png</string>
        </dict>
    </dict>
</plist>
