<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChouPai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,316},{244,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{244,68}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>ChouPai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,562},{177,35}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,35}}</string>
                <key>sourceSize</key>
                <string>{185,35}</string>
            </dict>
            <key>ChouPai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,562},{175,35}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,35}}</string>
                <key>sourceSize</key>
                <string>{185,35}</string>
            </dict>
            <key>ChouPai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,294},{232,20}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{232,20}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>ChouPai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,146},{179,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,35}}</string>
                <key>sourceSize</key>
                <string>{185,35}</string>
            </dict>
            <key>ChouPai_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,316},{157,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,53}}</string>
                <key>sourceSize</key>
                <string>{157,53}</string>
            </dict>
            <key>ChouPai_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{260,110}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{260,110}}</string>
                <key>sourceSize</key>
                <string>{280,130}</string>
            </dict>
            <key>ChouPai_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,696},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>ChouPai_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,183},{177,35}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,35}}</string>
                <key>sourceSize</key>
                <string>{185,35}</string>
            </dict>
            <key>ChouPai_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,308}}</string>
                <key>sourceSize</key>
                <string>{200,308}</string>
            </dict>
            <key>ChouPai_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,628},{67,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,66}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>ChouPai_H.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,473},{87,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{87,78}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>ChouPai_I.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,693},{73,72}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>ChouPai_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,628},{63,74}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{63,74}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>ChouPai_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,628},{63,74}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{63,74}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>ChouPai_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,628},{63,74}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{63,74}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>ChouPai_M.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,316},{53,70}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{53,70}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>ChouPai_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,473},{67,78}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{67,78}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>ChouPai_O.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,562},{159,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,133}}</string>
                <key>sourceSize</key>
                <string>{159,133}</string>
            </dict>
            <key>ChouPai_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{183,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,142}}</string>
                <key>sourceSize</key>
                <string>{183,142}</string>
            </dict>
            <key>ChouPai_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,628},{83,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,127}}</string>
                <key>sourceSize</key>
                <string>{83,127}</string>
            </dict>
            <key>ChouPai_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,371},{100,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>ChouPai_T.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,739},{134,36}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,40},{134,36}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>ChouPai_U.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{192,56}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{192,56}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>ChouPai_V.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,558},{224,68}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{224,68}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>ChouPai_W.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,316},{240,68}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{240,68}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>ChouPai_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,220},{234,72}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{234,72}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>ChouPai_Y.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,316},{240,70}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{240,70}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>ChouPai_Z.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{244,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{244,70}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChouPai_Dee.png</string>
            <key>size</key>
            <string>{500,777}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdcd4d1c7e4cacaa022877cea3a801c9:1/1$</string>
            <key>textureFileName</key>
            <string>ChouPai_Dee.png</string>
        </dict>
    </dict>
</plist>
