<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Conjure 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,79}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,63},{116,79}}</string>
                <key>sourceSize</key>
                <string>{130,151}</string>
            </dict>
            <key>Conjure 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{114,65}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,67},{114,65}}</string>
                <key>sourceSize</key>
                <string>{130,151}</string>
            </dict>
            <key>Conjure 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{100,59}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,62},{100,59}}</string>
                <key>sourceSize</key>
                <string>{130,151}</string>
            </dict>
            <key>Conjure 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,63},{84,55}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,53},{84,55}}</string>
                <key>sourceSize</key>
                <string>{130,151}</string>
            </dict>
            <key>Conjure 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{60,55}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,43},{60,55}}</string>
                <key>sourceSize</key>
                <string>{130,151}</string>
            </dict>
            <key>Conjure 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,120},{80,63}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{80,63}}</string>
                <key>sourceSize</key>
                <string>{130,151}</string>
            </dict>
            <key>Conjure 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,214},{88,57}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{88,57}}</string>
                <key>sourceSize</key>
                <string>{130,151}</string>
            </dict>
            <key>Conjure 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,120},{92,59}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{92,59}}</string>
                <key>sourceSize</key>
                <string>{130,151}</string>
            </dict>
            <key>Conjure 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,63},{84,55}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{84,55}}</string>
                <key>sourceSize</key>
                <string>{130,151}</string>
            </dict>
            <key>Conjure 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,202},{78,47}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,7},{78,47}}</string>
                <key>sourceSize</key>
                <string>{130,151}</string>
            </dict>
            <key>Conjure 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,187},{81,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,13},{81,38}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>Conjure 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{68,73}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{68,73}}</string>
                <key>sourceSize</key>
                <string>{74,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Conjure_02.png</string>
            <key>size</key>
            <string>{256,294}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7feee453cb37f2cc67fb9dc70729bc75:1/1$</string>
            <key>textureFileName</key>
            <string>Conjure_02.png</string>
        </dict>
    </dict>
</plist>
