<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daojian000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,67}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{68,67}}</string>
                <key>sourceSize</key>
                <string>{104,81}</string>
            </dict>
            <key>daojian001.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,71},{32,37}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{32,37}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>daojian002.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,31},{37,64}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{37,64}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>daojian003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{29,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{29,55}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>daojian004.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{27,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{27,54}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daojian.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8027cc370306708abade583d42a1ec24:1/1$</string>
            <key>textureFileName</key>
            <string>daojian.png</string>
        </dict>
    </dict>
</plist>
