<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hua001.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,296},{196,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,244}}</string>
                <key>sourceSize</key>
                <string>{196,244}</string>
            </dict>
            <key>hua002.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,787},{146,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{146,260}}</string>
                <key>sourceSize</key>
                <string>{154,260}</string>
            </dict>
            <key>hua003.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1251},{7,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,99}}</string>
                <key>sourceSize</key>
                <string>{7,99}</string>
            </dict>
            <key>hua004.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,858},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,32}</string>
            </dict>
            <key>hua005.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1183},{35,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,57}}</string>
                <key>sourceSize</key>
                <string>{35,57}</string>
            </dict>
            <key>hua006.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1191},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>hua007.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1140},{49,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,62}}</string>
                <key>sourceSize</key>
                <string>{49,62}</string>
            </dict>
            <key>hua008.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,630},{97,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,52}}</string>
                <key>sourceSize</key>
                <string>{97,54}</string>
            </dict>
            <key>hua009.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1220},{45,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,32}}</string>
                <key>sourceSize</key>
                <string>{45,32}</string>
            </dict>
            <key>hua010.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1207},{57,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,46}}</string>
                <key>sourceSize</key>
                <string>{57,46}</string>
            </dict>
            <key>hua011.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1118},{78,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,86}}</string>
                <key>sourceSize</key>
                <string>{78,86}</string>
            </dict>
            <key>hua012.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1038},{182,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,78}}</string>
                <key>sourceSize</key>
                <string>{182,80}</string>
            </dict>
            <key>hua013.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,726},{123,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,43}}</string>
                <key>sourceSize</key>
                <string>{123,43}</string>
            </dict>
            <key>jin001.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,334},{171,166}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{171,166}}</string>
                <key>sourceSize</key>
                <string>{173,176}</string>
            </dict>
            <key>jin002.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1140},{48,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>jin003.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,812},{44,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,30}</string>
            </dict>
            <key>jin004.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1207},{37,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,51}}</string>
                <key>sourceSize</key>
                <string>{37,51}</string>
            </dict>
            <key>jin005.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1191},{43,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,48}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
            <key>jin006.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1118},{98,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>jin007.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1118},{87,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,81}}</string>
                <key>sourceSize</key>
                <string>{87,81}</string>
            </dict>
            <key>jin008.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,606},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>jin009.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,889},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>jin010.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,851},{17,15}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>jin011.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,606},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>jin012.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1033},{79,83}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>jin013.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,870},{79,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,92}}</string>
                <key>sourceSize</key>
                <string>{81,92}</string>
            </dict>
            <key>jin014.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,904},{49,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,77}}</string>
                <key>sourceSize</key>
                <string>{49,77}</string>
            </dict>
            <key>jin015.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,960},{71,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,92}}</string>
                <key>sourceSize</key>
                <string>{71,92}</string>
            </dict>
            <key>lin001.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,889},{198,147}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{198,147}}</string>
                <key>sourceSize</key>
                <string>{204,183}</string>
            </dict>
            <key>lin002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1082},{131,101}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{131,101}}</string>
                <key>sourceSize</key>
                <string>{165,115}</string>
            </dict>
            <key>lin003.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,513},{130,109}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{130,109}}</string>
                <key>sourceSize</key>
                <string>{144,121}</string>
            </dict>
            <key>lin004.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,630},{162,94}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{162,94}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>lin005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{263,263}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{263,263}}</string>
                <key>sourceSize</key>
                <string>{281,277}</string>
            </dict>
            <key>lin006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{523,170}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{523,170}}</string>
                <key>sourceSize</key>
                <string>{523,188}</string>
            </dict>
            <key>lin007.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{322,206}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{322,206}}</string>
                <key>sourceSize</key>
                <string>{328,218}</string>
            </dict>
            <key>logo001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{337,174}}</string>
                <key>offset</key>
                <string>{12,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,39},{337,174}}</string>
                <key>sourceSize</key>
                <string>{379,342}</string>
            </dict>
            <key>logo0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,807},{273,122}}</string>
                <key>offset</key>
                <string>{-42,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,210},{273,122}}</string>
                <key>sourceSize</key>
                <string>{379,342}</string>
            </dict>
            <key>logo0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,210},{269,122}}</string>
                <key>offset</key>
                <string>{-40,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,209},{269,122}}</string>
                <key>sourceSize</key>
                <string>{379,342}</string>
            </dict>
            <key>logo0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,606},{225,130}}</string>
                <key>offset</key>
                <string>{-18,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,208},{225,130}}</string>
                <key>sourceSize</key>
                <string>{379,342}</string>
            </dict>
            <key>logo0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,334},{257,136}}</string>
                <key>offset</key>
                <string>{-34,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,193},{257,136}}</string>
                <key>sourceSize</key>
                <string>{379,342}</string>
            </dict>
            <key>logo0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,472},{255,132}}</string>
                <key>offset</key>
                <string>{-33,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,199},{255,132}}</string>
                <key>sourceSize</key>
                <string>{379,342}</string>
            </dict>
            <key>logo0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1028},{87,62}}</string>
                <key>offset</key>
                <string>{144,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,71},{87,62}}</string>
                <key>sourceSize</key>
                <string>{379,342}</string>
            </dict>
            <key>logo0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,964},{89,62}}</string>
                <key>offset</key>
                <string>{143,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,72},{89,62}}</string>
                <key>sourceSize</key>
                <string>{379,342}</string>
            </dict>
            <key>logo0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,955},{83,62}}</string>
                <key>offset</key>
                <string>{136,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,73},{83,62}}</string>
                <key>sourceSize</key>
                <string>{379,342}</string>
            </dict>
            <key>logo002.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1203},{46,86}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,28},{46,86}}</string>
                <key>sourceSize</key>
                <string>{82,134}</string>
            </dict>
            <key>logo0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1019},{79,64}}</string>
                <key>offset</key>
                <string>{136,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,71},{79,64}}</string>
                <key>sourceSize</key>
                <string>{379,342}</string>
            </dict>
            <key>logo0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1019},{81,64}}</string>
                <key>offset</key>
                <string>{138,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,70},{81,64}}</string>
                <key>sourceSize</key>
                <string>{379,342}</string>
            </dict>
            <key>logo0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1206},{81,46}}</string>
                <key>offset</key>
                <string>{68,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,26},{81,46}}</string>
                <key>sourceSize</key>
                <string>{379,342}</string>
            </dict>
            <key>logo0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1206},{73,42}}</string>
                <key>offset</key>
                <string>{63,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,21},{73,42}}</string>
                <key>sourceSize</key>
                <string>{379,342}</string>
            </dict>
            <key>logo0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1206},{77,52}}</string>
                <key>offset</key>
                <string>{67,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,16},{77,52}}</string>
                <key>sourceSize</key>
                <string>{379,342}</string>
            </dict>
            <key>logo0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1137},{69,44}}</string>
                <key>offset</key>
                <string>{63,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,22},{69,44}}</string>
                <key>sourceSize</key>
                <string>{379,342}</string>
            </dict>
            <key>logo0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1085},{77,50}}</string>
                <key>offset</key>
                <string>{70,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,22},{77,50}}</string>
                <key>sourceSize</key>
                <string>{379,342}</string>
            </dict>
            <key>logo003.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,502},{165,126}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{165,126}}</string>
                <key>sourceSize</key>
                <string>{173,142}</string>
            </dict>
            <key>logo004.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{164,201}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,201}}</string>
                <key>sourceSize</key>
                <string>{172,201}</string>
            </dict>
            <key>lu001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{523,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{523,120}}</string>
                <key>sourceSize</key>
                <string>{527,122}</string>
            </dict>
            <key>lu002.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,870},{88,98}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{88,98}}</string>
                <key>sourceSize</key>
                <string>{92,98}</string>
            </dict>
            <key>lu003.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,296},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>lu004.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,738},{130,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,121}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>lu005.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,542},{195,243}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,243}}</string>
                <key>sourceSize</key>
                <string>{199,243}</string>
            </dict>
            <key>lu006.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,729},{70,119}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,119}}</string>
                <key>sourceSize</key>
                <string>{74,119}</string>
            </dict>
            <key>lu007.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,945},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>lu008.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1038},{70,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,78}}</string>
                <key>sourceSize</key>
                <string>{70,78}</string>
            </dict>
            <key>lu009.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,812},{90,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,68}}</string>
                <key>sourceSize</key>
                <string>{90,68}</string>
            </dict>
            <key>sun001.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,738},{149,202}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{149,202}}</string>
                <key>sourceSize</key>
                <string>{159,216}</string>
            </dict>
            <key>sun002.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,850},{93,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,68}}</string>
                <key>sourceSize</key>
                <string>{93,70}</string>
            </dict>
            <key>sun003.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,645},{106,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{106,78}}</string>
                <key>sourceSize</key>
                <string>{106,82}</string>
            </dict>
            <key>sun004.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1203},{55,87}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{55,87}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>sun005.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1085},{53,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,75}}</string>
                <key>sourceSize</key>
                <string>{53,77}</string>
            </dict>
            <key>sun006.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,725},{85,91}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{85,91}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>sun007.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1185},{66,134}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,134}}</string>
                <key>sourceSize</key>
                <string>{76,134}</string>
            </dict>
            <key>sun008.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1049},{134,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,125}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>sun009.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,210},{119,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{119,122}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>sun010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{170,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{170,112}}</string>
                <key>sourceSize</key>
                <string>{170,114}</string>
            </dict>
            <key>sun011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{283,244}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{283,244}}</string>
                <key>sourceSize</key>
                <string>{293,270}</string>
            </dict>
            <key>sun012.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,339},{172,95}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{172,95}}</string>
                <key>sourceSize</key>
                <string>{180,95}</string>
            </dict>
            <key>sun013.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,205},{99,132}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{99,132}}</string>
                <key>sourceSize</key>
                <string>{101,142}</string>
            </dict>
            <key>sun014.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1118},{132,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{132,83}}</string>
                <key>sourceSize</key>
                <string>{132,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fengmian.png</string>
            <key>size</key>
            <string>{1021,1260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:594a2f9c207aa708d1382cf8cdb30978:1/1$</string>
            <key>textureFileName</key>
            <string>fengmian.png</string>
        </dict>
    </dict>
</plist>
