<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HuiMaQiang2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,802},{144,174}}</string>
                <key>offset</key>
                <string>{-23,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,46},{144,174}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>HuiMaQiang2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,192},{182,184}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{182,184}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>HuiMaQiang2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{202,190}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{202,190}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>HuiMaQiang2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{202,190}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{202,190}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>HuiMaQiang2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{196,188}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,27},{196,188}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>HuiMaQiang2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,188}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{206,188}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>HuiMaQiang2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{202,190}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{202,190}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>HuiMaQiang2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,840},{184,140}}</string>
                <key>offset</key>
                <string>{-13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{184,140}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>HuiMaQiang2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,524},{184,144}}</string>
                <key>offset</key>
                <string>{-13,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{184,144}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>HuiMaQiang2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,192},{184,142}}</string>
                <key>offset</key>
                <string>{-11,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{184,142}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>HuiMaQiang2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,378},{184,144}}</string>
                <key>offset</key>
                <string>{-11,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{184,144}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>HuiMaQiang2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,670},{186,168}}</string>
                <key>offset</key>
                <string>{-12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{186,168}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>HuiMaQiang2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{186,176}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{186,176}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>HuiMaQiang2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,590},{210,144}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{210,144}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>HuiMaQiang2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,378},{210,146}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{210,146}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>HuiMaQiang2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{158,88}}</string>
                <key>offset</key>
                <string>{10,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,3},{158,88}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>HuiMaQiang2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,978},{78,32}}</string>
                <key>offset</key>
                <string>{50,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,44},{78,32}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>HuiMaQiang2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{34,128}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,128}}</string>
                <key>sourceSize</key>
                <string>{42,148}</string>
            </dict>
            <key>HuiMaQiang2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{32,171}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{32,171}}</string>
                <key>sourceSize</key>
                <string>{46,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HuiMaQiang2.png</string>
            <key>size</key>
            <string>{540,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:924c79b7e64bea176472b3a1d92a4ea8:1/1$</string>
            <key>textureFileName</key>
            <string>HuiMaQiang2.png</string>
        </dict>
    </dict>
</plist>
