<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_shengjichuizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{82,81}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{82,81}}</string>
                <key>sourceSize</key>
                <string>{120,133}</string>
            </dict>
            <key>fx_shengjiguangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{58,60}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{58,60}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>fx_shengjipaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,86},{124,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,163}}</string>
                <key>sourceSize</key>
                <string>{124,163}</string>
            </dict>
            <key>fx_shengjipaizi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,2},{62,35}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{62,35}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>fx_shengjixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>fx_shengjiyanwu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{83,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{83,82}}</string>
                <key>sourceSize</key>
                <string>{103,98}</string>
            </dict>
            <key>fx_shengjiyanwu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,86},{100,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{100,82}}</string>
                <key>sourceSize</key>
                <string>{110,96}</string>
            </dict>
            <key>fx_shengjiyanwu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{86,82}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{86,82}}</string>
                <key>sourceSize</key>
                <string>{102,94}</string>
            </dict>
            <key>fx_shengjiyanwu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{81,82}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{81,82}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>ui_effect_zhukuangti3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,86},{162,109}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{162,109}}</string>
                <key>sourceSize</key>
                <string>{168,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jinkuangshengji.png</string>
            <key>size</key>
            <string>{479,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f01c2ae1f87069e62d99f3ba678d5529:1/1$</string>
            <key>textureFileName</key>
            <string>jinkuangshengji.png</string>
        </dict>
    </dict>
</plist>
