<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juejing_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,90},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,80},{39,40}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>juejing_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,102},{45,44}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,86},{45,44}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>juejing_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,90},{51,46}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,82},{51,46}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>juejing_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,104},{37,46}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,80},{37,46}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>juejing_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,104},{53,38}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,90},{53,38}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>juejing_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,65},{73,82}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,57},{73,82}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>juejing_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{71,98}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,43},{71,98}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>juejing_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{73,86}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,45},{73,86}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>juejing_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,114}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,28},{67,114}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>juejing_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{73,100}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,34},{73,100}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>juejing_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{61,96}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,35},{61,96}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>juejing_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{71,88}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,49},{71,88}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>juejing_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,75},{71,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,57},{71,86}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juejing.png</string>
            <key>size</key>
            <string>{482,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0811a583b8f1cb55080717e28118c495:1/1$</string>
            <key>textureFileName</key>
            <string>juejing.png</string>
        </dict>
    </dict>
</plist>
