<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juejing001.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{25,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,252}}</string>
                <key>sourceSize</key>
                <string>{25,252}</string>
            </dict>
            <key>juejing002.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,109},{25,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>juejing003.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,63},{25,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,44}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>juejing004.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{25,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,59}}</string>
                <key>sourceSize</key>
                <string>{25,59}</string>
            </dict>
            <key>juejing005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{98,184}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{98,184}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>juejing006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,490},{78,182}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,3},{78,182}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>juejing007.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,674},{124,176}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{124,176}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>juejing008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{122,184}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{122,184}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>juejing009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{108,172}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{108,172}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>juejing010.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1282},{136,122}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,45},{136,122}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>juejing011.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,852},{154,136}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,40},{154,136}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>juejing012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{164,148}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,29},{164,148}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>juejing013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{176,166}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,21},{176,166}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>juejing014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,182}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{192,182}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>juejing015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{208,134}}</string>
                <key>offset</key>
                <string>{-18,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,42},{208,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>juejing016.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1146},{148,134}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,42},{148,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>juejing017.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1008},{150,136}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,41},{150,136}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>juejing018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{94,176}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,13},{94,176}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>juejing019.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1856},{96,132}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,64},{96,132}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>juejing020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1762},{94,146}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,50},{94,146}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>juejing021.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1762},{92,146}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,50},{92,146}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>juejing022.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1668},{92,156}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,40},{92,156}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>juejing023.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1406},{92,166}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{92,166}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>juejing024.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1574},{92,156}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,36},{92,156}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>juejing025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1536},{88,156}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,31},{88,156}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>juejing026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1364},{90,170}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{90,170}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juejing_new.png</string>
            <key>size</key>
            <string>{254,1954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c77f24c089f6bd68884e97300572dd6:1/1$</string>
            <key>textureFileName</key>
            <string>juejing_new.png</string>
        </dict>
    </dict>
</plist>
