<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lianchou001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,34},{96,36}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>lianchou002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{150,52}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,28},{150,52}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>lianchou003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{178,58}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,25},{178,58}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>lianchou004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{202,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{202,66}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>lianchou005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{226,72}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{226,72}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>lianchou006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{104,103}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,39},{104,103}}</string>
                <key>sourceSize</key>
                <string>{170,171}</string>
            </dict>
            <key>lianchou007.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,258},{106,97}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{106,97}}</string>
                <key>sourceSize</key>
                <string>{146,139}</string>
            </dict>
            <key>lianchou008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{79,103}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{79,103}}</string>
                <key>sourceSize</key>
                <string>{83,107}</string>
            </dict>
            <key>lianchou009.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,363},{104,144}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{104,144}}</string>
                <key>sourceSize</key>
                <string>{118,160}</string>
            </dict>
            <key>lianchou010.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,363},{33,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{33,32}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lianchou.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bdc26b3bf8bcfad4ad2f51df88e4932:1/1$</string>
            <key>textureFileName</key>
            <string>lianchou.png</string>
        </dict>
    </dict>
</plist>
