<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{83,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,95}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>logo002.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,360},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>logo003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,468},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>logo004.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,468},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{42,52}</string>
            </dict>
            <key>logo005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{42,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,53}}</string>
                <key>sourceSize</key>
                <string>{42,53}</string>
            </dict>
            <key>logo006.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,414},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,52}}</string>
                <key>sourceSize</key>
                <string>{43,52}</string>
            </dict>
            <key>logo007.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,44}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>logo008.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,468},{42,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,51}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>logo009.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,258},{208,7}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{208,7}}</string>
                <key>sourceSize</key>
                <string>{210,23}</string>
            </dict>
            <key>logo010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{208,11}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{208,11}}</string>
                <key>sourceSize</key>
                <string>{210,23}</string>
            </dict>
            <key>logo011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{208,15}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{208,15}}</string>
                <key>sourceSize</key>
                <string>{210,23}</string>
            </dict>
            <key>logo012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{208,19}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{208,19}}</string>
                <key>sourceSize</key>
                <string>{210,23}</string>
            </dict>
            <key>logo013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{208,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,23}}</string>
                <key>sourceSize</key>
                <string>{210,23}</string>
            </dict>
            <key>logo014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{98,3}}</string>
                <key>offset</key>
                <string>{56,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,20},{98,3}}</string>
                <key>sourceSize</key>
                <string>{210,23}</string>
            </dict>
            <key>logo015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{98,7}}</string>
                <key>offset</key>
                <string>{56,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,16},{98,7}}</string>
                <key>sourceSize</key>
                <string>{210,23}</string>
            </dict>
            <key>logo016.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,260},{98,11}}</string>
                <key>offset</key>
                <string>{56,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,12},{98,11}}</string>
                <key>sourceSize</key>
                <string>{210,23}</string>
            </dict>
            <key>logo017.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,260},{98,13}}</string>
                <key>offset</key>
                <string>{56,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,7},{98,13}}</string>
                <key>sourceSize</key>
                <string>{210,23}</string>
            </dict>
            <key>logo018.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,48},{208,8}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,8}}</string>
                <key>sourceSize</key>
                <string>{210,40}</string>
            </dict>
            <key>logo019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{208,12}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,12}}</string>
                <key>sourceSize</key>
                <string>{210,40}</string>
            </dict>
            <key>logo020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{208,16}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,16}}</string>
                <key>sourceSize</key>
                <string>{210,40}</string>
            </dict>
            <key>logo021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{208,20}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,20}}</string>
                <key>sourceSize</key>
                <string>{210,40}</string>
            </dict>
            <key>logo022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{208,22}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{208,22}}</string>
                <key>sourceSize</key>
                <string>{210,40}</string>
            </dict>
            <key>logo023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{210,28}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,28}}</string>
                <key>sourceSize</key>
                <string>{210,40}</string>
            </dict>
            <key>logo024.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,48},{210,30}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,30}}</string>
                <key>sourceSize</key>
                <string>{210,40}</string>
            </dict>
            <key>logo025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{210,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,32}}</string>
                <key>sourceSize</key>
                <string>{210,40}</string>
            </dict>
            <key>logo026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{210,32}}</string>
                <key>sourceSize</key>
                <string>{210,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>logo.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f67ff629311e881bb9568e6e1fa83c8:1/1$</string>
            <key>textureFileName</key>
            <string>logo.png</string>
        </dict>
    </dict>
</plist>
