<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pinming_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,459},{51,56}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,88},{51,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>pinming_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{165,134}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,36},{165,134}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>pinming_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,176}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,20},{161,176}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>pinming_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{167,170}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,8},{167,170}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>pinming_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,179},{173,96}}</string>
                <key>offset</key>
                <string>{11,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,67},{173,96}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>pinming_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{175,96}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,66},{175,96}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>pinming_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,354},{103,96}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,68},{103,96}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pinming.png</string>
            <key>size</key>
            <string>{269,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5150f8c51bb67ad42c63811b963c38c4:1/1$</string>
            <key>textureFileName</key>
            <string>pinming.png</string>
        </dict>
    </dict>
</plist>
