<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pound_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,244},{100,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,96}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>pound_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{94,102}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{94,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pound_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,120}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{118,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pound_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{118,114}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{118,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pound_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{102,108}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{102,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pound_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{102,106}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{102,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pound_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,346},{100,94}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,17},{100,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pound_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,124},{100,92}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{100,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pound_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,448},{92,90}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{92,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pound_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{88,88}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{88,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pound_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,542},{86,80}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{86,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pound_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{84,78}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{84,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pound.png</string>
            <key>size</key>
            <string>{212,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eeec980cb7cd3e8a8d6257cedcd5d1a:1/1$</string>
            <key>textureFileName</key>
            <string>pound.png</string>
        </dict>
    </dict>
</plist>
