<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiankunlu001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{315,320}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{315,320}}</string>
                <key>sourceSize</key>
                <string>{317,322}</string>
            </dict>
            <key>qiankunlu002.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{133,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,31}}</string>
                <key>sourceSize</key>
                <string>{133,31}</string>
            </dict>
            <key>qiankunlu003.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,291},{131,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,55}}</string>
                <key>sourceSize</key>
                <string>{131,55}</string>
            </dict>
            <key>qiankunlu004.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,211},{78,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,65}}</string>
                <key>sourceSize</key>
                <string>{78,65}</string>
            </dict>
            <key>qiankunlu005.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,137},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>qiankunlu006.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,256},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>qiankunlu007.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,173},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>qiankunlu008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{248,100}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{248,100}}</string>
                <key>sourceSize</key>
                <string>{254,108}</string>
            </dict>
            <key>qiankunlu009.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,324},{96,96}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{96,96}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>qiankunlu010.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{252,81}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{252,81}}</string>
                <key>sourceSize</key>
                <string>{256,87}</string>
            </dict>
            <key>qiankunlu011.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,256},{177,90}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{177,90}}</string>
                <key>sourceSize</key>
                <string>{183,96}</string>
            </dict>
            <key>qiankunlu012.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{207,68}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{207,68}}</string>
                <key>sourceSize</key>
                <string>{211,92}</string>
            </dict>
            <key>qiankunlu013.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,211},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiankunlu.png</string>
            <key>size</key>
            <string>{509,436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ce54276fc3b80fe8e96b2f91da68f27:1/1$</string>
            <key>textureFileName</key>
            <string>qiankunlu.png</string>
        </dict>
    </dict>
</plist>
