<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QingLongZhan2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,920},{95,68}}</string>
                <key>offset</key>
                <string>{40,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,27},{95,68}}</string>
                <key>sourceSize</key>
                <string>{227,162}</string>
            </dict>
            <key>QingLongZhan2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,925},{113,88}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,19},{113,88}}</string>
                <key>sourceSize</key>
                <string>{227,162}</string>
            </dict>
            <key>QingLongZhan2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{175,98}}</string>
                <key>offset</key>
                <string>{10,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,7},{175,98}}</string>
                <key>sourceSize</key>
                <string>{227,162}</string>
            </dict>
            <key>QingLongZhan2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,216},{173,90}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{173,90}}</string>
                <key>sourceSize</key>
                <string>{227,162}</string>
            </dict>
            <key>QingLongZhan2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,114},{178,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,68},{178,100}}</string>
                <key>sourceSize</key>
                <string>{304,234}</string>
            </dict>
            <key>QingLongZhan2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,308},{168,110}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,67},{168,110}}</string>
                <key>sourceSize</key>
                <string>{304,234}</string>
            </dict>
            <key>QingLongZhan2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{184,110}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,67},{184,110}}</string>
                <key>sourceSize</key>
                <string>{304,234}</string>
            </dict>
            <key>QingLongZhan2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{168,110}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,66},{168,110}}</string>
                <key>sourceSize</key>
                <string>{304,234}</string>
            </dict>
            <key>QingLongZhan2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{166,110}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,66},{166,110}}</string>
                <key>sourceSize</key>
                <string>{304,234}</string>
            </dict>
            <key>QingLongZhan2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{154,118}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,66},{154,118}}</string>
                <key>sourceSize</key>
                <string>{304,234}</string>
            </dict>
            <key>QingLongZhan2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,542},{156,120}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,67},{156,120}}</string>
                <key>sourceSize</key>
                <string>{304,234}</string>
            </dict>
            <key>QingLongZhan2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,743},{154,122}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,66},{154,122}}</string>
                <key>sourceSize</key>
                <string>{304,234}</string>
            </dict>
            <key>QingLongZhan2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,158},{156,124}}</string>
                <key>offset</key>
                <string>{13,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,66},{156,124}}</string>
                <key>sourceSize</key>
                <string>{304,234}</string>
            </dict>
            <key>QingLongZhan2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{154,122}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,66},{154,122}}</string>
                <key>sourceSize</key>
                <string>{304,234}</string>
            </dict>
            <key>QingLongZhan2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{158,118}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,67},{158,118}}</string>
                <key>sourceSize</key>
                <string>{304,234}</string>
            </dict>
            <key>QingLongZhan2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,420},{164,120}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,67},{164,120}}</string>
                <key>sourceSize</key>
                <string>{304,234}</string>
            </dict>
            <key>QingLongZhan2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,120}}</string>
                <key>offset</key>
                <string>{30,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,67},{192,120}}</string>
                <key>sourceSize</key>
                <string>{304,234}</string>
            </dict>
            <key>QingLongZhan2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,478},{158,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,76}}</string>
                <key>sourceSize</key>
                <string>{158,76}</string>
            </dict>
            <key>QingLongZhan2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,955},{33,33}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,35},{33,33}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>QingLongZhan2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,928},{27,23}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,39},{27,23}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>QingLongZhan2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,891},{29,25}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{29,25}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>QingLongZhan2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,864},{29,25}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{29,25}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>QingLongZhan2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,962},{27,45}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{27,45}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>QingLongZhan2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,867},{27,49}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{27,49}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>QingLongZhan2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,867},{29,49}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{29,49}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>QingLongZhan2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,765},{29,49}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{29,49}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>QingLongZhan2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,714},{29,49}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{29,49}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>QingLongZhan2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,816},{27,49}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{27,49}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>QingLongZhan2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,955},{23,59}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{23,59}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>QingLongZhan2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,990},{25,63}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{25,63}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>QingLongZhan2_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,928},{25,67}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{25,67}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>QingLongZhan2_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,891},{27,69}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{27,69}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>QingLongZhan2_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,816},{27,73}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{27,73}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>QingLongZhan2_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,637},{27,75}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{27,75}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>QingLongZhan2_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,556},{27,79}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{27,79}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>QingLongZhan2_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,867},{23,51}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{23,51}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>QingLongZhan2_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,867},{23,51}}</string>
                <key>offset</key>
                <string>{-23,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,45},{23,51}}</string>
                <key>sourceSize</key>
                <string>{211,119}</string>
            </dict>
            <key>QingLongZhan2_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,867},{35,53}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,44},{35,53}}</string>
                <key>sourceSize</key>
                <string>{211,119}</string>
            </dict>
            <key>QingLongZhan2_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,867},{53,51}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,46},{53,51}}</string>
                <key>sourceSize</key>
                <string>{211,119}</string>
            </dict>
            <key>QingLongZhan2_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,793},{69,43}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,52},{69,43}}</string>
                <key>sourceSize</key>
                <string>{211,119}</string>
            </dict>
            <key>QingLongZhan2_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,928},{79,33}}</string>
                <key>offset</key>
                <string>{21,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,62},{79,33}}</string>
                <key>sourceSize</key>
                <string>{211,119}</string>
            </dict>
            <key>QingLongZhan2_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,928},{79,33}}</string>
                <key>offset</key>
                <string>{21,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,62},{79,33}}</string>
                <key>sourceSize</key>
                <string>{211,119}</string>
            </dict>
            <key>QingLongZhan2_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,925},{89,75}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,26},{89,75}}</string>
                <key>sourceSize</key>
                <string>{211,119}</string>
            </dict>
            <key>QingLongZhan2_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,793},{133,81}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,20},{133,81}}</string>
                <key>sourceSize</key>
                <string>{211,119}</string>
            </dict>
            <key>QingLongZhan2_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,316},{161,81}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{161,81}}</string>
                <key>sourceSize</key>
                <string>{211,119}</string>
            </dict>
            <key>QingLongZhan2_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,399},{159,77}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{159,77}}</string>
                <key>sourceSize</key>
                <string>{211,119}</string>
            </dict>
            <key>QingLongZhan2_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,714},{155,77}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{155,77}}</string>
                <key>sourceSize</key>
                <string>{211,119}</string>
            </dict>
            <key>QingLongZhan2_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{155,77}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{155,77}}</string>
                <key>sourceSize</key>
                <string>{211,119}</string>
            </dict>
            <key>QingLongZhan2_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,664},{155,77}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{155,77}}</string>
                <key>sourceSize</key>
                <string>{211,119}</string>
            </dict>
            <key>QingLongZhan2_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,635},{155,77}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{155,77}}</string>
                <key>sourceSize</key>
                <string>{211,119}</string>
            </dict>
            <key>QingLongZhan2_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,556},{155,77}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{155,77}}</string>
                <key>sourceSize</key>
                <string>{211,119}</string>
            </dict>
            <key>QingLongZhan2_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{155,77}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{155,77}}</string>
                <key>sourceSize</key>
                <string>{211,119}</string>
            </dict>
            <key>QingLongZhan2_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{155,77}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{155,77}}</string>
                <key>sourceSize</key>
                <string>{211,119}</string>
            </dict>
            <key>QingLongZhan2_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,922},{64,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>QingLongZhan2.png</string>
            <key>size</key>
            <string>{506,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3f73c39a8e0f44332dd3f12297c8756:1/1$</string>
            <key>textureFileName</key>
            <string>QingLongZhan2.png</string>
        </dict>
    </dict>
</plist>
