<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>YunHaiCangLong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,607},{222,189}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{222,189}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{222,185}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{222,185}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,609},{226,185}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{226,185}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,798},{228,183}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{228,183}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,796},{230,183}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{230,183}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,613},{230,183}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{230,183}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,418},{234,185}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{234,185}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,609},{236,185}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{236,185}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,211},{238,205}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{238,205}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{236,207}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{236,207}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,609},{236,185}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{236,185}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,408},{236,181}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{236,181}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,201},{236,177}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{236,177}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{236,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{236,197}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{238,199}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{238,199}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,203},{236,203}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{236,203}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,613},{236,181}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{236,181}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,418},{234,189}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{234,189}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,408},{234,203}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{234,203}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,400},{234,205}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{234,205}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,796},{232,177}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{232,177}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,191},{232,207}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{232,207}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{232,207}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{232,207}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,211},{230,205}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{230,205}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{228,207}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{228,207}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,796},{228,177}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{228,177}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{234,177}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{234,177}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,183}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,183}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,187}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,187}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>YunHaiCangLong_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,798},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,120}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>YunHaiCangLong_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,798},{221,176}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{221,176}}</string>
                <key>sourceSize</key>
                <string>{245,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RuYunLong.png</string>
            <key>size</key>
            <string>{1457,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e322371ca66480e5e7dba0651f263a89:1/1$</string>
            <key>textureFileName</key>
            <string>RuYunLong.png</string>
        </dict>
    </dict>
</plist>
