<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Signet_Purple_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>Signet_Purple_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{128,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{128,142}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>Signet_Purple_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,132},{118,134}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{118,134}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>Signet_Purple_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,142}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Signet_Purple.png</string>
            <key>size</key>
            <string>{284,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7f2674b3124ab910d927de2ecccaab6:1/1$</string>
            <key>textureFileName</key>
            <string>Signet_Purple.png</string>
        </dict>
    </dict>
</plist>
