<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_wuleiji_conjure_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,114}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{179,114}}</string>
                <key>sourceSize</key>
                <string>{215,176}</string>
            </dict>
            <key>skill_wuleiji_conjure_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{155,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{155,106}}</string>
                <key>sourceSize</key>
                <string>{215,176}</string>
            </dict>
            <key>skill_wuleiji_conjure_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,135},{130,96}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,20},{130,96}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>skill_wuleiji_conjure_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,480},{104,84}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,9},{104,84}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>skill_wuleiji_conjure_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,480},{107,89}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,7},{107,89}}</string>
                <key>sourceSize</key>
                <string>{211,175}</string>
            </dict>
            <key>skill_wuleiji_conjure_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,544},{49,56}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,56},{49,56}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>skill_wuleiji_conjure_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{53,58}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,45},{53,58}}</string>
                <key>sourceSize</key>
                <string>{127,140}</string>
            </dict>
            <key>skill_wuleiji_conjure_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,267},{94,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{94,109}}</string>
                <key>sourceSize</key>
                <string>{122,147}</string>
            </dict>
            <key>skill_wuleiji_conjure_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,378},{102,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{102,116}}</string>
                <key>sourceSize</key>
                <string>{118,134}</string>
            </dict>
            <key>skill_wuleiji_conjure_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,261},{112,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,128}}</string>
                <key>sourceSize</key>
                <string>{118,134}</string>
            </dict>
            <key>skill_wuleiji_conjure_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,482},{84,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{84,81}}</string>
                <key>sourceSize</key>
                <string>{108,107}</string>
            </dict>
            <key>skill_wuleiji_conjure_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,482},{94,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>skill_wuleiji_conjure_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,375},{121,102}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{121,102}}</string>
                <key>sourceSize</key>
                <string>{155,152}</string>
            </dict>
            <key>skill_wuleiji_conjure_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,370},{125,108}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{125,108}}</string>
                <key>sourceSize</key>
                <string>{155,152}</string>
            </dict>
            <key>skill_wuleiji_conjure_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,256},{131,112}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{131,112}}</string>
                <key>sourceSize</key>
                <string>{155,152}</string>
            </dict>
            <key>skill_wuleiji_conjure_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,135},{131,124}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{131,124}}</string>
                <key>sourceSize</key>
                <string>{155,152}</string>
            </dict>
            <key>skill_wuleiji_conjure_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,118},{131,136}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{131,136}}</string>
                <key>sourceSize</key>
                <string>{155,152}</string>
            </dict>
            <key>skill_wuleiji_conjure_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{133,136}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{133,136}}</string>
                <key>sourceSize</key>
                <string>{155,152}</string>
            </dict>
            <key>skill_wuleiji_conjure_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{131,136}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{131,136}}</string>
                <key>sourceSize</key>
                <string>{155,152}</string>
            </dict>
            <key>skill_wuleiji_conjure_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{143,142}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{143,142}}</string>
                <key>sourceSize</key>
                <string>{155,152}</string>
            </dict>
            <key>skill_wuleiji_conjure_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{139,142}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{139,142}}</string>
                <key>sourceSize</key>
                <string>{155,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_wuleiji_conjure.png</string>
            <key>size</key>
            <string>{511,599}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37d53aeeb2ab94ad590af5ebb4d21a27:1/1$</string>
            <key>textureFileName</key>
            <string>skill_wuleiji_conjure.png</string>
        </dict>
    </dict>
</plist>
