<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_huimaqiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,284},{77,58}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{77,58}}</string>
                <key>sourceSize</key>
                <string>{131,88}</string>
            </dict>
            <key>skill_huimaqiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,363},{84,54}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{84,54}}</string>
                <key>sourceSize</key>
                <string>{130,82}</string>
            </dict>
            <key>skill_huimaqiang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,369},{98,54}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{98,54}}</string>
                <key>sourceSize</key>
                <string>{130,82}</string>
            </dict>
            <key>skill_huimaqiang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,369},{108,54}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{108,54}}</string>
                <key>sourceSize</key>
                <string>{130,78}</string>
            </dict>
            <key>skill_huimaqiang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,336},{112,53}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{112,53}}</string>
                <key>sourceSize</key>
                <string>{130,77}</string>
            </dict>
            <key>skill_huimaqiang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,363},{114,53}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{114,53}}</string>
                <key>sourceSize</key>
                <string>{130,69}</string>
            </dict>
            <key>skill_huimaqiang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,202},{114,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{114,53}}</string>
                <key>sourceSize</key>
                <string>{130,67}</string>
            </dict>
            <key>skill_huimaqiang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,284},{116,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{116,50}}</string>
                <key>sourceSize</key>
                <string>{130,62}</string>
            </dict>
            <key>skill_huimaqiang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,204},{149,78}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,32},{149,78}}</string>
                <key>sourceSize</key>
                <string>{215,122}</string>
            </dict>
            <key>skill_huimaqiang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,202},{165,90}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,21},{165,90}}</string>
                <key>sourceSize</key>
                <string>{215,122}</string>
            </dict>
            <key>skill_huimaqiang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{173,98}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{173,98}}</string>
                <key>sourceSize</key>
                <string>{215,122}</string>
            </dict>
            <key>skill_huimaqiang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,102},{161,98}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{161,98}}</string>
                <key>sourceSize</key>
                <string>{215,122}</string>
            </dict>
            <key>skill_huimaqiang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,102},{153,100}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{153,100}}</string>
                <key>sourceSize</key>
                <string>{215,122}</string>
            </dict>
            <key>skill_huimaqiang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{148,98}}</string>
                <key>offset</key>
                <string>{-21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{148,98}}</string>
                <key>sourceSize</key>
                <string>{202,108}</string>
            </dict>
            <key>skill_huimaqiang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,419},{57,28}}</string>
                <key>offset</key>
                <string>{-16,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,78},{57,28}}</string>
                <key>sourceSize</key>
                <string>{215,122}</string>
            </dict>
            <key>skill_huimaqiang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,433}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{50,433}}</string>
                <key>sourceSize</key>
                <string>{66,507}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Skill_huimaqiang.png</string>
            <key>size</key>
            <string>{379,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9d7803cd9378448307571efe80cfbb0:1/1$</string>
            <key>textureFileName</key>
            <string>Skill_huimaqiang.png</string>
        </dict>
    </dict>
</plist>
