<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_zhurigong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{97,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{97,62}}</string>
                <key>sourceSize</key>
                <string>{113,80}</string>
            </dict>
            <key>skill_zhurigong_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,92},{87,69}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{87,69}}</string>
                <key>sourceSize</key>
                <string>{107,89}</string>
            </dict>
            <key>skill_zhurigong_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{102,71}}</string>
                <key>sourceSize</key>
                <string>{118,89}</string>
            </dict>
            <key>skill_zhurigong_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{74,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{74,88}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>skill_zhurigong_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{74,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{74,88}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>skill_zhurigong_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{78,64}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{78,64}}</string>
                <key>sourceSize</key>
                <string>{94,80}</string>
            </dict>
            <key>skill_zhurigong_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,82},{69,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{69,63}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>skill_zhurigong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,197},{61,60}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{61,60}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>skill_zhurigong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,72},{58,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{58,60}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>skill_zhurigong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,194},{56,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{56,55}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>skill_zhurigong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,101},{87,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{87,94}}</string>
                <key>sourceSize</key>
                <string>{93,98}</string>
            </dict>
            <key>skill_zhurigong_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,178},{18,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>skill_zhurigong_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,134},{58,56}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{58,56}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>skill_zhurigong_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{68,64}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>skill_zhurigong_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,197},{60,60}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>skill_zhurigong_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{56,54}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{56,54}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>skill_zhurigong_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,60},{40,54}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{40,54}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>skill_zhurigong_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,102},{28,18}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{28,18}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>skill_zhurigong_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,181},{18,12}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,7},{18,12}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>skill_zhurigong_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,181},{14,8}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{14,8}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>skill_zhurigong_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,144},{43,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{43,23}}</string>
                <key>sourceSize</key>
                <string>{51,29}</string>
            </dict>
            <key>skill_zhurigong_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{45,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{45,24}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
            <key>skill_zhurigong_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{49,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{49,24}}</string>
                <key>sourceSize</key>
                <string>{57,30}</string>
            </dict>
            <key>skill_zhurigong_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,206},{48,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{48,24}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>skill_zhurigong_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,49},{45,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{45,23}}</string>
                <key>sourceSize</key>
                <string>{53,31}</string>
            </dict>
            <key>skill_zhurigong_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,206},{80,48}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{80,48}}</string>
                <key>sourceSize</key>
                <string>{110,76}</string>
            </dict>
            <key>skill_zhurigong_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,197},{86,60}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{86,60}}</string>
                <key>sourceSize</key>
                <string>{110,76}</string>
            </dict>
            <key>skill_zhurigong_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{92,70}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{92,70}}</string>
                <key>sourceSize</key>
                <string>{110,76}</string>
            </dict>
            <key>skill_zhurigong_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{98,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{98,66}}</string>
                <key>sourceSize</key>
                <string>{110,76}</string>
            </dict>
            <key>skill_zhurigong_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,106},{98,64}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{98,64}}</string>
                <key>sourceSize</key>
                <string>{110,76}</string>
            </dict>
            <key>skill_zhurigong_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,197},{72,60}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{72,60}}</string>
                <key>sourceSize</key>
                <string>{110,76}</string>
            </dict>
            <key>skill_zhurigong_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,153},{58,42}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{58,42}}</string>
                <key>sourceSize</key>
                <string>{110,76}</string>
            </dict>
            <key>skill_zhurigong_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,102},{52,40}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{52,40}}</string>
                <key>sourceSize</key>
                <string>{110,76}</string>
            </dict>
            <key>skill_zhurigong_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,153},{42,32}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,34},{42,32}}</string>
                <key>sourceSize</key>
                <string>{110,76}</string>
            </dict>
            <key>skill_zhurigong_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,144},{32,22}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,39},{32,22}}</string>
                <key>sourceSize</key>
                <string>{110,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_zhurigong.png</string>
            <key>size</key>
            <string>{504,259}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f43d0c4ff3c882c0f413155df48d8f7:1/1$</string>
            <key>textureFileName</key>
            <string>skill_zhurigong.png</string>
        </dict>
    </dict>
</plist>
