<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_lianrongnu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,186},{80,24}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{80,24}}</string>
                <key>sourceSize</key>
                <string>{88,30}</string>
            </dict>
            <key>skill_lianrongnu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,166},{80,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{80,44}}</string>
                <key>sourceSize</key>
                <string>{88,50}</string>
            </dict>
            <key>skill_lianrongnu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{82,65}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{82,65}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>skill_lianrongnu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{82,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{82,68}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>skill_lianrongnu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{82,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{82,73}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>skill_lianrongnu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,86},{84,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{84,78}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>skill_lianrongnu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{84,82}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{84,82}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>skill_lianrongnu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,88}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{84,88}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>skill_lianrongnu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,164},{70,20}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,76},{70,20}}</string>
                <key>sourceSize</key>
                <string>{74,102}</string>
            </dict>
            <key>skill_lianrongnu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,334},{57,53}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{57,53}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>skill_lianrongnu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,212},{59,67}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{59,67}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>skill_lianrongnu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,103},{59,71}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{59,71}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>skill_lianrongnu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,273},{59,63}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{59,63}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>skill_lianrongnu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{61,65}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{61,65}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>skill_lianrongnu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,212},{61,63}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{61,63}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>skill_lianrongnu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{59,61}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{59,61}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>skill_lianrongnu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,275},{53,61}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,24},{53,61}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>skill_lianrongnu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,334},{55,31}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,56},{55,31}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>skill_lianrongnu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,225},{53,15}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,73},{53,15}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>skill_lianrongnu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{44,15}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{44,15}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>skill_lianrongnu_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,280},{44,15}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{44,15}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>skill_lianrongnu_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,312},{48,33}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{48,33}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>skill_lianrongnu_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,288},{48,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,33}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>skill_lianrongnu_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,262},{48,33}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{48,33}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>skill_lianrongnu_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,212},{48,33}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{48,33}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>skill_lianrongnu_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,362},{48,31}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,31}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>skill_lianrongnu_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,362},{48,31}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,31}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>skill_lianrongnu_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,86},{15,73}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,73}}</string>
                <key>sourceSize</key>
                <string>{17,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_lianrongnu.png</string>
            <key>size</key>
            <string>{255,395}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e09f51843e2e2ef7c5ded55d559e052f:1/1$</string>
            <key>textureFileName</key>
            <string>skill_lianrongnu.png</string>
        </dict>
    </dict>
</plist>
