<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_fanzhen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{45,40}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,38},{45,40}}</string>
                <key>sourceSize</key>
                <string>{117,110}</string>
            </dict>
            <key>skill_fanzhen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,186},{79,82}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{79,82}}</string>
                <key>sourceSize</key>
                <string>{117,110}</string>
            </dict>
            <key>skill_fanzhen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{103,94}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{103,94}}</string>
                <key>sourceSize</key>
                <string>{117,110}</string>
            </dict>
            <key>skill_fanzhen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,98}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{103,98}}</string>
                <key>sourceSize</key>
                <string>{117,110}</string>
            </dict>
            <key>skill_fanzhen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{101,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{101,92}}</string>
                <key>sourceSize</key>
                <string>{117,110}</string>
            </dict>
            <key>skill_fanzhen_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{89,88}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{89,88}}</string>
                <key>sourceSize</key>
                <string>{117,110}</string>
            </dict>
            <key>skill_fanzhen_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,291},{87,88}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{87,88}}</string>
                <key>sourceSize</key>
                <string>{117,110}</string>
            </dict>
            <key>skill_fanzhen_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,381},{87,78}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{87,78}}</string>
                <key>sourceSize</key>
                <string>{117,110}</string>
            </dict>
            <key>skill_fanzhen_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,346},{87,78}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,17},{87,78}}</string>
                <key>sourceSize</key>
                <string>{117,110}</string>
            </dict>
            <key>skill_fanzhen_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,510},{83,76}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{83,76}}</string>
                <key>sourceSize</key>
                <string>{117,110}</string>
            </dict>
            <key>skill_fanzhen_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,270},{79,74}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{79,74}}</string>
                <key>sourceSize</key>
                <string>{117,110}</string>
            </dict>
            <key>skill_fanzhen_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,186},{77,66}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{77,66}}</string>
                <key>sourceSize</key>
                <string>{117,110}</string>
            </dict>
            <key>skill_fanzhen_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,549},{73,60}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{73,60}}</string>
                <key>sourceSize</key>
                <string>{117,110}</string>
            </dict>
            <key>skill_fanzhen_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,153},{31,50}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,29},{31,50}}</string>
                <key>sourceSize</key>
                <string>{117,110}</string>
            </dict>
            <key>skill_fanzhen_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,96},{54,55}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{54,55}}</string>
                <key>sourceSize</key>
                <string>{74,81}</string>
            </dict>
            <key>skill_fanzhen_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,461},{86,75}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{86,75}}</string>
                <key>sourceSize</key>
                <string>{120,101}</string>
            </dict>
            <key>skill_fanzhen_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{109,77}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{109,77}}</string>
                <key>sourceSize</key>
                <string>{139,99}</string>
            </dict>
            <key>skill_fanzhen_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{97,91}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{97,91}}</string>
                <key>sourceSize</key>
                <string>{127,119}</string>
            </dict>
            <key>skill_fanzhen_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{106,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{106,82}}</string>
                <key>sourceSize</key>
                <string>{128,106}</string>
            </dict>
            <key>skill_fanzhen_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,96},{91,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{91,88}}</string>
                <key>sourceSize</key>
                <string>{119,112}</string>
            </dict>
            <key>skill_fanzhen_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,435},{78,73}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{78,73}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>skill_fanzhen_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,49},{31,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{31,27}}</string>
                <key>sourceSize</key>
                <string>{61,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_fanzhen.png</string>
            <key>size</key>
            <string>{256,611}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5dc9098f4d462bce7a8b416a33ef74e:1/1$</string>
            <key>textureFileName</key>
            <string>skill_fanzhen.png</string>
        </dict>
    </dict>
</plist>
