<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_QLZ_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,80},{88,86}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,59},{88,86}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>skill_QLZ_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,428},{74,58}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,72},{74,58}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>skill_QLZ_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{76,64}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,63},{76,64}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>skill_QLZ_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,168},{78,64}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,54},{78,64}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>skill_QLZ_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,308},{72,72}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,39},{72,72}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>skill_QLZ_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,432},{70,70}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{70,70}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>skill_QLZ_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,313},{74,66}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{74,66}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>skill_QLZ_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,189},{76,62}}</string>
                <key>offset</key>
                <string>{7,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{76,62}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>skill_QLZ_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,253},{74,58}}</string>
                <key>offset</key>
                <string>{7,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{74,58}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>skill_QLZ_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,248},{64,58}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,5},{64,58}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>skill_QLZ_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{61,134}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{61,134}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>skill_QLZ_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{80,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,67}}</string>
                <key>sourceSize</key>
                <string>{80,67}</string>
            </dict>
            <key>skill_QLZ_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{110,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{110,89}}</string>
                <key>sourceSize</key>
                <string>{120,99}</string>
            </dict>
            <key>skill_QLZ_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,301},{91,49}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{91,49}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>skill_QLZ_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{128,69}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{128,69}}</string>
                <key>sourceSize</key>
                <string>{158,95}</string>
            </dict>
            <key>skill_QLZ_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{207,76}}</string>
                <key>sourceSize</key>
                <string>{249,140}</string>
            </dict>
            <key>skill_QLZ_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,127},{78,60}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{78,60}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>skill_QLZ_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,171},{98,60}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{98,60}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>skill_QLZ_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,71},{54,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>skill_QLZ_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,425},{54,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{54,70}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>skill_QLZ_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,394},{66,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{66,36}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>skill_QLZ_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,382},{64,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{64,44}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>skill_QLZ_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,381},{40,42}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{40,42}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>skill_QLZ_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,381},{32,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,24},{32,30}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>skill_QLZ_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,271},{32,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{32,24}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Skill_qinglongzhan.png</string>
            <key>size</key>
            <string>{293,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8a6c38c059f7e1ef320c28a9a75bd54:1/1$</string>
            <key>textureFileName</key>
            <string>Skill_qinglongzhan.png</string>
        </dict>
    </dict>
</plist>
