<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Skill_qimendunjia_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,135}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{136,135}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Skill_qimendunjia.png</string>
            <key>size</key>
            <string>{140,139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49aaecbb1158574b20da3c3af05a0350$</string>
            <key>textureFileName</key>
            <string>Skill_qimendunjia.png</string>
        </dict>
    </dict>
</plist>
