<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_qiangliji_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,16},{40,208}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,16},{40,208}}</string>
                <key>sourceSize</key>
                <string>{102,246}</string>
            </dict>
            <key>skill_qiangliji_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{38,272}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,17},{38,272}}</string>
                <key>sourceSize</key>
                <string>{122,310}</string>
            </dict>
            <key>skill_qiangliji_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{38,316}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,18},{38,316}}</string>
                <key>sourceSize</key>
                <string>{124,356}</string>
            </dict>
            <key>skill_qiangliji_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{38,318}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,17},{38,318}}</string>
                <key>sourceSize</key>
                <string>{118,356}</string>
            </dict>
            <key>skill_qiangliji_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{36,320}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,18},{36,320}}</string>
                <key>sourceSize</key>
                <string>{118,360}</string>
            </dict>
            <key>skill_qiangliji_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{34,322}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,17},{34,322}}</string>
                <key>sourceSize</key>
                <string>{114,360}</string>
            </dict>
            <key>skill_qiangliji_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{29,312}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{29,312}}</string>
                <key>sourceSize</key>
                <string>{109,350}</string>
            </dict>
            <key>skill_qiangliji_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,16},{14,318}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,16},{14,318}}</string>
                <key>sourceSize</key>
                <string>{96,356}</string>
            </dict>
            <key>skill_qiangliji_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,324}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,17},{12,324}}</string>
                <key>sourceSize</key>
                <string>{58,362}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Skill_qiangliji.png</string>
            <key>size</key>
            <string>{368,259}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc5ba8cc3dc815acb1653707e1c12112:1/1$</string>
            <key>textureFileName</key>
            <string>Skill_qiangliji.png</string>
        </dict>
    </dict>
</plist>
