<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_zhuihunqiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,282},{39,94}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{39,94}}</string>
                <key>sourceSize</key>
                <string>{43,100}</string>
            </dict>
            <key>skill_zhuihunqiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,178},{45,102}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{45,102}}</string>
                <key>sourceSize</key>
                <string>{49,110}</string>
            </dict>
            <key>skill_zhuihunqiang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{47,108}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{47,108}}</string>
                <key>sourceSize</key>
                <string>{51,118}</string>
            </dict>
            <key>skill_zhuihunqiang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,161},{48,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{48,97}}</string>
                <key>sourceSize</key>
                <string>{52,105}</string>
            </dict>
            <key>skill_zhuihunqiang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,156},{50,94}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,94}}</string>
                <key>sourceSize</key>
                <string>{54,102}</string>
            </dict>
            <key>skill_zhuihunqiang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{50,81}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,81}}</string>
                <key>sourceSize</key>
                <string>{54,89}</string>
            </dict>
            <key>skill_zhuihunqiang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,331},{15,39}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{15,39}}</string>
                <key>sourceSize</key>
                <string>{21,47}</string>
            </dict>
            <key>skill_zhuihunqiang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,314},{67,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,28}}</string>
                <key>sourceSize</key>
                <string>{73,34}</string>
            </dict>
            <key>skill_zhuihunqiang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,378},{67,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{67,27}}</string>
                <key>sourceSize</key>
                <string>{75,33}</string>
            </dict>
            <key>skill_zhuihunqiang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,455},{68,27}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{68,27}}</string>
                <key>sourceSize</key>
                <string>{74,33}</string>
            </dict>
            <key>skill_zhuihunqiang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,483},{65,25}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{65,25}}</string>
                <key>sourceSize</key>
                <string>{73,31}</string>
            </dict>
            <key>skill_zhuihunqiang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,484},{70,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{70,24}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>skill_zhuihunqiang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,420},{81,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{81,22}}</string>
                <key>sourceSize</key>
                <string>{89,28}</string>
            </dict>
            <key>skill_zhuihunqiang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,260},{85,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{85,23}}</string>
                <key>sourceSize</key>
                <string>{95,29}</string>
            </dict>
            <key>skill_zhuihunqiang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,252},{34,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{34,77}}</string>
                <key>sourceSize</key>
                <string>{40,83}</string>
            </dict>
            <key>skill_zhuihunqiang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,344},{13,61}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{13,61}}</string>
                <key>sourceSize</key>
                <string>{17,79}</string>
            </dict>
            <key>skill_zhuihunqiang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,350},{25,58}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{25,58}}</string>
                <key>sourceSize</key>
                <string>{45,62}</string>
            </dict>
            <key>skill_zhuihunqiang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,260},{37,88}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{37,88}}</string>
                <key>sourceSize</key>
                <string>{71,92}</string>
            </dict>
            <key>skill_zhuihunqiang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{39,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{39,138}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>skill_zhuihunqiang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,174}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{49,174}}</string>
                <key>sourceSize</key>
                <string>{69,208}</string>
            </dict>
            <key>skill_zhuihunqiang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{62,157}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{62,157}}</string>
                <key>sourceSize</key>
                <string>{80,189}</string>
            </dict>
            <key>skill_zhuihunqiang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{88,86}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,59},{88,86}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>skill_zhuihunqiang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,344},{74,58}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,72},{74,58}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>skill_zhuihunqiang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,236},{76,64}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,63},{76,64}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>skill_zhuihunqiang_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,90},{78,64}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,54},{78,64}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>skill_zhuihunqiang_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,162},{72,72}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,39},{72,72}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>skill_zhuihunqiang_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,90},{70,70}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{70,70}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>skill_zhuihunqiang_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,407},{74,66}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{74,66}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>skill_zhuihunqiang_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,377},{76,62}}</string>
                <key>offset</key>
                <string>{7,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,18},{76,62}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>skill_zhuihunqiang_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{74,58}}</string>
                <key>offset</key>
                <string>{7,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{74,58}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>skill_zhuihunqiang_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,444},{64,58}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{64,58}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_zhuihunqiang.png</string>
            <key>size</key>
            <string>{269,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11af0571dc5c52331ff906275c6a67ef:1/1$</string>
            <key>textureFileName</key>
            <string>skill_zhuihunqiang.png</string>
        </dict>
    </dict>
</plist>
