<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,108}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{154,108}}</string>
                <key>sourceSize</key>
                <string>{160,112}</string>
            </dict>
            <key>box002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{158,104}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{158,104}}</string>
                <key>sourceSize</key>
                <string>{160,112}</string>
            </dict>
            <key>box003.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{160,104}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{160,104}}</string>
                <key>sourceSize</key>
                <string>{160,112}</string>
            </dict>
            <key>box004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{197,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{197,113}}</string>
                <key>sourceSize</key>
                <string>{207,113}</string>
            </dict>
            <key>box005.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,112},{201,107}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{201,107}}</string>
                <key>sourceSize</key>
                <string>{207,113}</string>
            </dict>
            <key>box006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{201,107}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{201,107}}</string>
                <key>sourceSize</key>
                <string>{207,113}</string>
            </dict>
            <key>box007.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,227},{186,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{186,100}}</string>
                <key>sourceSize</key>
                <string>{194,100}</string>
            </dict>
            <key>box008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{192,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{192,96}}</string>
                <key>sourceSize</key>
                <string>{194,100}</string>
            </dict>
            <key>box009.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,336},{192,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{192,96}}</string>
                <key>sourceSize</key>
                <string>{194,100}</string>
            </dict>
            <key>box010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{185,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,63}}</string>
                <key>sourceSize</key>
                <string>{185,63}</string>
            </dict>
            <key>box011.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,434},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>box012.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,434},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tianwanglei.png</string>
            <key>size</key>
            <string>{499,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b46ae08bad7079e0e5f3881e1bc567e6:1/1$</string>
            <key>textureFileName</key>
            <string>tianwanglei.png</string>
        </dict>
    </dict>
</plist>
