<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_LevelUp_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,312},{94,76}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,59},{94,76}}</string>
                <key>sourceSize</key>
                <string>{198,176}</string>
            </dict>
            <key>UI_LevelUp_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,162},{124,124}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,35},{124,124}}</string>
                <key>sourceSize</key>
                <string>{198,176}</string>
            </dict>
            <key>UI_LevelUp_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,162},{148,148}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{148,148}}</string>
                <key>sourceSize</key>
                <string>{198,176}</string>
            </dict>
            <key>UI_LevelUp_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{152,152}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,22},{152,152}}</string>
                <key>sourceSize</key>
                <string>{198,176}</string>
            </dict>
            <key>UI_LevelUp_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,154}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{162,154}}</string>
                <key>sourceSize</key>
                <string>{198,176}</string>
            </dict>
            <key>UI_LevelUp_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{158,158}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{158,158}}</string>
                <key>sourceSize</key>
                <string>{198,176}</string>
            </dict>
            <key>UI_LevelUp_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{96,88}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,40},{96,88}}</string>
                <key>sourceSize</key>
                <string>{198,176}</string>
            </dict>
            <key>UI_LevelUp_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,288},{96,80}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,43},{96,80}}</string>
                <key>sourceSize</key>
                <string>{198,176}</string>
            </dict>
            <key>UI_LevelUp_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{96,76}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,38},{96,76}}</string>
                <key>sourceSize</key>
                <string>{198,176}</string>
            </dict>
            <key>UI_LevelUp_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{96,76}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,35},{96,76}}</string>
                <key>sourceSize</key>
                <string>{198,176}</string>
            </dict>
            <key>UI_LevelUp_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,312},{94,76}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,32},{94,76}}</string>
                <key>sourceSize</key>
                <string>{198,176}</string>
            </dict>
            <key>UI_LevelUp_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,288},{94,78}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,28},{94,78}}</string>
                <key>sourceSize</key>
                <string>{198,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_levelup_2.png</string>
            <key>size</key>
            <string>{502,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc8547f4d476ecba6b5b49d2c885ce83:1/1$</string>
            <key>textureFileName</key>
            <string>UI_levelup_2.png</string>
        </dict>
    </dict>
</plist>
