<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhongdu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,474},{20,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,190},{20,20}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>zhongdu_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,490},{24,22}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,192},{24,22}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>zhongdu_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,450},{22,22}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,191},{22,22}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>zhongdu_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,408},{16,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,192},{16,18}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>zhongdu_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,426},{16,16}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,194},{16,16}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>zhongdu_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,388},{18,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,192},{18,18}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>zhongdu_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,368},{18,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,192},{18,18}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>zhongdu_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{64,56}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,175},{64,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>zhongdu_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,450},{38,38}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,180},{38,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>zhongdu_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{100,80}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,154},{100,80}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>zhongdu_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{96,112}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,146},{96,112}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>zhongdu_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{114,102}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,155},{114,102}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>zhongdu_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{116,80}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,145},{116,80}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>zhongdu_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,80}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,145},{116,80}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhongdu.png</string>
            <key>size</key>
            <string>{124,516}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d46a03b85b0cb24d99ec274a01af7ea:1/1$</string>
            <key>textureFileName</key>
            <string>zhongdu.png</string>
        </dict>
    </dict>
</plist>
