<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhuangbei01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,28}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>zhuangbei02.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{20,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,28}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>zhuangbei03.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{58,39}}</string>
                <key>offset</key>
                <string>{21,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,34},{58,39}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>zhuangbei04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{68,61}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{68,61}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>zhuangbei05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{68,69}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{68,69}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>zhuangbei06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{68,67}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{68,67}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>zhuangbei07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{70,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{70,57}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>zhuangbei08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{60,49}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,15},{60,49}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>zhuangbei09.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,305},{22,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{22,28}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>zhuangbei10.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,305},{22,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{22,28}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>zhuangbei11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{107,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{107,86}}</string>
                <key>sourceSize</key>
                <string>{117,92}</string>
            </dict>
            <key>zhuangbei12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{34,64}}</string>
                <key>offset</key>
                <string>{23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,11},{34,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhuangbei13.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,444},{50,52}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{50,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhuangbei14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{44,56}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{44,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhuangbei15.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,510},{62,74}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{62,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhuangbei16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{60,62}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhuangbei17.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,586},{46,68}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{46,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhuangbei18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{42,52}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{42,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhuangbei19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{96,83}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,83}}</string>
                <key>sourceSize</key>
                <string>{98,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuangbei.png</string>
            <key>size</key>
            <string>{112,795}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a748d792823920acc6442f2846c4c067:1/1$</string>
            <key>textureFileName</key>
            <string>zhuangbei.png</string>
        </dict>
    </dict>
</plist>
