<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhuansheng001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,907},{46,54}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,54}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>zhuansheng002.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,894},{60,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>zhuansheng003.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,236},{75,73}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>zhuansheng004.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,143},{75,91}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{75,91}}</string>
                <key>sourceSize</key>
                <string>{81,97}</string>
            </dict>
            <key>zhuansheng005.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,359},{78,87}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,87}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>zhuansheng006.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,448},{70,87}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,87}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>zhuansheng007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{62,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,89}}</string>
                <key>sourceSize</key>
                <string>{68,93}</string>
            </dict>
            <key>zhuansheng008.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,311},{46,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,83}}</string>
                <key>sourceSize</key>
                <string>{52,89}</string>
            </dict>
            <key>zhuansheng009.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,958},{32,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,67}}</string>
                <key>sourceSize</key>
                <string>{32,69}</string>
            </dict>
            <key>zhuansheng010.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,769},{86,109}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,66},{86,109}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>zhuansheng011.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,537},{94,139}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{94,139}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>zhuansheng012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{88,155}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{88,155}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>zhuansheng013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{86,167}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{86,167}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>zhuansheng014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{90,167}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{90,167}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>zhuansheng015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{84,167}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{84,167}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>zhuansheng016.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,857},{48,111}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,47},{48,111}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>zhuansheng017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{48,125}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,40},{48,125}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>zhuansheng018.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{54,139}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{54,139}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>zhuansheng019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{46,145}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{46,145}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>zhuansheng020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{46,143}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{46,143}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>zhuansheng021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,87}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,87}}</string>
                <key>sourceSize</key>
                <string>{195,89}</string>
            </dict>
            <key>zhuansheng022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{22,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,89}}</string>
                <key>sourceSize</key>
                <string>{26,93}</string>
            </dict>
            <key>zhuansheng023.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,678},{89,91}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{89,91}}</string>
                <key>sourceSize</key>
                <string>{103,109}</string>
            </dict>
            <key>zhuansheng024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{123,141}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,23},{123,141}}</string>
                <key>sourceSize</key>
                <string>{165,187}</string>
            </dict>
            <key>zhuansheng025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{174,175}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{174,175}}</string>
                <key>sourceSize</key>
                <string>{178,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuansheng.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:420eb36249e3b23b759c55c11584cb96:1/1$</string>
            <key>textureFileName</key>
            <string>zhuansheng.png</string>
        </dict>
    </dict>
</plist>
