<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZhuRiGong2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,354},{121,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{121,113}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZhuRiGong2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,368},{123,113}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{123,113}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZhuRiGong2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,490},{123,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{123,113}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZhuRiGong2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,352},{117,109}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{117,109}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZhuRiGong2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,540},{45,46}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,46},{45,46}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>ZhuRiGong2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,585},{63,28}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,64},{63,28}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>ZhuRiGong2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,164},{69,34}}</string>
                <key>offset</key>
                <string>{-5,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,58},{69,34}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>ZhuRiGong2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,430},{87,48}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,44},{87,48}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>ZhuRiGong2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,477},{91,54}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,38},{91,54}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>ZhuRiGong2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,502},{93,64}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,28},{93,64}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>ZhuRiGong2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,541},{67,80}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{67,80}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>ZhuRiGong2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,493},{75,90}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{75,90}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>ZhuRiGong2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,338},{77,90}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{77,90}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>ZhuRiGong2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,480},{81,58}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,34},{81,58}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>ZhuRiGong2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,544},{71,64}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,28},{71,64}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>ZhuRiGong2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,541},{67,80}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{67,80}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>ZhuRiGong2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,533},{59,88}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{59,88}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>ZhuRiGong2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,533},{61,88}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{61,88}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>ZhuRiGong2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,458},{55,84}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{55,84}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>ZhuRiGong2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,605},{59,16}}</string>
                <key>offset</key>
                <string>{-11,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,73},{59,16}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>ZhuRiGong2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,368},{21,14}}</string>
                <key>offset</key>
                <string>{-30,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,75},{21,14}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>ZhuRiGong2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,154},{114,196}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{114,196}}</string>
                <key>sourceSize</key>
                <string>{138,222}</string>
            </dict>
            <key>ZhuRiGong2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,142},{104,196}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{104,196}}</string>
                <key>sourceSize</key>
                <string>{138,222}</string>
            </dict>
            <key>ZhuRiGong2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,164},{104,202}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{104,202}}</string>
                <key>sourceSize</key>
                <string>{138,222}</string>
            </dict>
            <key>ZhuRiGong2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,154},{118,198}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{118,198}}</string>
                <key>sourceSize</key>
                <string>{138,222}</string>
            </dict>
            <key>ZhuRiGong2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,142},{104,194}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{104,194}}</string>
                <key>sourceSize</key>
                <string>{138,222}</string>
            </dict>
            <key>ZhuRiGong2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,242}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{247,242}}</string>
                <key>sourceSize</key>
                <string>{289,280}</string>
            </dict>
            <key>ZhuRiGong2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,340},{116,94}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,57},{116,94}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>ZhuRiGong2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,502},{132,106}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,49},{132,106}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>ZhuRiGong2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{180,106}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,49},{180,106}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>ZhuRiGong2_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,388},{166,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,45},{166,112}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>ZhuRiGong2_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,164},{222,136}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,34},{222,136}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>ZhuRiGong2_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,246},{242,148}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{242,148}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>ZhuRiGong2_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{262,158}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{262,158}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>ZhuRiGong2_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{246,150}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{246,150}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>ZhuRiGong2_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,2},{258,138}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{258,138}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>ZhuRiGong2_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{244,160}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{244,160}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>ZhuRiGong2_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,471},{86,68}}</string>
                <key>offset</key>
                <string>{6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,92},{86,68}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>ZhuRiGong2_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,471},{68,60}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,94},{68,60}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhuRiGong2.png</string>
            <key>size</key>
            <string>{1008,623}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91bebe6e1722ce59e760edc9fa92cd9f:1/1$</string>
            <key>textureFileName</key>
            <string>ZhuRiGong2.png</string>
        </dict>
    </dict>
</plist>
